/* src: url("{{asset('front_assets/public/fonts/GeneralSans-Extralight.woff2')}}") format('woff2'), */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'General Sans';
    src: url("https://dmprojects.xyz/ankitsaini/laravel-uifry/public/front_assets/public/fonts/GeneralSans-Extralight.woff2") format('woff2'),
      url("https://dmprojects.xyz/ankitsaini/laravel-uifry/public/front_assets/fonts/GeneralSans-Extralight.woff'") format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'General Sans';
    src: url("https://dmprojects.xyz/ankitsaini/laravel-uifry/public/front_assets/public/fonts/GeneralSans-Light.woff2") format('woff2'),
      url("https://dmprojects.xyz/ankitsaini/laravel-uifry/public/front_assets/fonts/GeneralSans-Light.woff") format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'General Sans';
    src: url("https://dmprojects.xyz/ankitsaini/laravel-uifry/public/front_assets/public/fonts/GeneralSans-Medium.woff2") format('woff2'),
      url("https://dmprojects.xyz/ankitsaini/laravel-uifry/public/front_assets/fonts/GeneralSans-Medium.woff") format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'General Sans';
    src: url("https://dmprojects.xyz/ankitsaini/laravel-uifry/public/front_assets/public/fonts/GeneralSans-Bold.woff2") format('woff2'),
      url("https://dmprojects.xyz/ankitsaini/laravel-uifry/public/front_assets/fonts/GeneralSans-Bold.woff") format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'General Sans';
    src: url("https://dmprojects.xyz/ankitsaini/laravel-uifry/public/front_assets/public/fonts/GeneralSans-Regular.woff2") format('woff2'),
      url("https://dmprojects.xyz/ankitsaini/laravel-uifry/public/front_assets/fonts/GeneralSans-Regular.woff") format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'General Sans';
    src: url("https://dmprojects.xyz/ankitsaini/laravel-uifry/public/front_assets/public/fonts/GeneralSans-Semibold.woff2") format('woff2'),
      url("https://dmprojects.xyz/ankitsaini/laravel-uifry/public/front_assets/fonts/GeneralSans-Semibold.woff") format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
}

body {
  font-family: 'General Sans';
}

@media (min-width: 360px) {
  .container {
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .book-appointment h2 {
    font-size: 36px !important;
    font-weight: 600;
  }

  .book-appointment p {
    color: #3C4959;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .book-appointment ul li {
    font-size: 1rem;
    /* base text size */
    color: #3C4959;
    font-weight: 500;
    margin-bottom: 14px;
  }

  .healthier h2 {
    font-size: 36px;
    color: #011632;
    font-weight: 600;
  }

  .healthier p {
    color: #3C4959;
    font-size: 1.125rem;
    /* text-lg (18px) */
    margin-top: 1rem;
    /* mt-4 (16px) */
    max-width: 530px;
  }

  header {
    background-color: #edf9fe;
  }

  .about-our-mission h2 {
    font-size: 24px;
    margin-top: 32px;
  }

  .about-our-mission .about-h2 {
    font-size: 36px;
    margin-top: 32px;
  }

  .about-our-mission p {
    margin-top: 20px;
    font-size: 18px;
    color: #3C4959;
  }

  .specialists {
    padding-top: 36px;
  }

  .specialists h2 {
    font-size: 36px;
  }

  .contact h1,
  .blogs h1,
  .services h1,
  .blog-details h1,
  .service-details h1 {
    font-size: 42px;
  }

  .contact .map {
    margin-top: 90px;
  }

  .latest-technologies p {
    font-size: 18px;
    color: #3C4959;
  }

  .specialists-about p {
    font-size: 18px;
    color: #3C4959;
  }

  .news .swipe3 p,
  .articles p,
  .blog-recennt-post p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2
  }

  .hero-slider .swiper4 p,
  .services .swiper4 p,
  .services .grid .p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3
  }

  .about-our-mission h3 {
    font-size: 24px;
    font-weight: 500;
    color: #011632;
    margin-top: 25px;
  }

  .blogs .swipe5 p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }

  .hero h1 img {
    width: 49%;
  }

  .latest-technologies h2 span {
    font-size: 24px !important;
    font-weight: 500 !important;
    margin-bottom: 20px !important;
    display: block !important;
  }

  /* .blogs form{
      width: ;
    } */
}

@media (min-width: 428px) and (max-width: 575px) {
  .container {
    max-width: 398px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .book-appointment h2 {
    font-size: 42px !important;
  }

  .book-appointment ul li {
    padding-left: 0.25rem;
    /* ps-1 (padding-start: 1 = 0.25rem) */
    font-size: 1.125rem;
  }

  .healthier h2 {
    font-size: 42px;
  }

  .healthier p {
    margin-top: 1.25rem;
  }

  .patients-video {
    height: 450px;
  }

  .patients-video .iframe {
    height: 100%;
  }

  .forget-password .form-section,
  .book-appoinment-step1 .form-section {
    padding-left: 110px;
  }

  .about-our-mission .about-h2 {
    font-size: 42px;
    margin-top: 0px;
  }

  .specialists {
    padding-top: 50px;
  }

  .specialists h2 {
    font-size: 42px;
  }

  .contact h1,
  .blogs h1,
  .services h1,
  .blog-details h1,
  .service-details h1 {
    font-size: 62px;
  }

  .contact .map {
    margin-top: 0px;
  }

  .blogs form {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero h1 img {
    width: 90%;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .set-password .reset-password {
    padding-left: 110px;
  }

  .news .article-image,
  .articles .article-image {
    height: 192px;
  }

  .blog-details .blog-details-image {
    height: 620px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .news .swiper-slide,
  .articles .swiper-slide {
    width: 100% !important;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal !important;
}

img {
  display: inline;
}

.our-clients .swiper-slide {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.heading-after {
  position: relative;
  z-index: 1;
}

.heading-after::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("{{ asset('front_assets/public/images/uifry-heading-border-dark.webp')}}");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  z-index: -1;
}

.animeslide-slide.swiper-slide-active [data-animate] {
  opacity: 1;
  transform: none;
}

.animeslide-slide.swiper-slide-active .animeslide-desc {
  transition-delay: 0.8s;
}

[data-animate] {
  opacity: 0;
  transition: all 0.5s ease-out;
}

[data-animate="bottom"] {
  transform: translate3d(0, 15px, 0);
}

.accordion-item-active {
  padding: 0;
}

.heading-border {
  position: relative;
  z-index: 1;
}

.heading-border::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("{{ asset('front_assets/public/images/uifry-border-line.webp')}}");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  z-index: -1;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.accordion-content.active {
  max-height: 280px !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.accordion-btn.active,
.accordion-content.active {
  background-color: #1376F8;
  color: white;
}

.accordion-btn.active {
  border-bottom: 1px solid white;
}

.accord-item {
  border-radius: 10px;
  overflow: hidden;
}

.accordion-btn.active .toggle-icon {
  border: 1px solid white;
}

.accordion-btn.active::before {
  background: white;
}